#sel-style option {font-size: 22px; margin:20px;}
   #sel-style {font-size: 22px; height: 40px;}
   .barcode-bby input[type="checkbox"]{
	  width: 25px; /*Desired width*/
	  height: 25px; /*Desired height*/
	}
	.barcode-print-option label{ margin-right: 20px;}

	.barcodea4 {
		width: 8.25in;
		height: 11.6in;
		display: block;
		border: 1px solid #CCC;
		margin: 10px auto;
		padding: 0.1in 0 0 0.1in;
		page-break-after: always;
	}
	.barcode {
		width: 8.45in;
		height: 10.3in;
		display: block;
		border: 1px solid #CCC;
		margin: 10px auto;
		padding-top: 0.1in;
		page-break-after: always;
	}
	.barcode .barcode_site, .barcode .barcode_name {
    font-size: 14px;
	}
	.barcode .barcode_site {
		font-weight: bold;
	}
	.barcode .barcode_site, .barcode .barcode_name, .barcode .barcode_image, .barcode .variants {
		display: block;
	}
	.barcodea4 .barcode_site, .barcodea4 .barcode_name, .barcodea4 .barcode_image, .barcodea4 .variants {
		display: block;
	}
	
	.barcode .item {
		display: block;
		overflow: hidden;
		text-align: center;
		border: 1px dotted #CCC;
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
		float: left;
	}
	.barcodea4 .item {
		display: block;
		overflow: hidden;
		text-align: center;
		border: 1px dotted #CCC;
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
		float: left;
	}
	.barcode .style30:nth-child(3n+1) {
		margin-left: 0.1in;
	}
	.barcode .style30 {
		width: 2.625in;
		height: 1in;
		margin: 0 0.07in;
		padding-top: 0.05in;
	}
	.barcodea4 .style40 {
		width: 1.799in;
		height: 1.003in;
		margin: 0 0.07in;
		padding-top: 0.05in;
	}
	.barcodea4 .style24 {
		width: 2.48in;
		height: 1.335in;
		margin-left: 0.079in;
		padding-top: 0.05in;
	}
	.barcode .style20 {
		width: 4in;
		height: 1in;
		margin: 0 0.1in;
		padding-top: 0.05in;
	}
	.barcodea4 .style18 {
		width: 2.5in;
		height: 1.835in;
		margin-left: 0.079in;
		padding-top: 0.05in;
		font-size: 13px;
		line-height: 20px;
	}
	.barcode .style14 {
		width: 4in;
		height: 1.33in;
		margin: 0 0.1in;
		padding-top: 0.1in;
	}
	.barcodea4 .style12 {
		width: 2.5in;
		height: 2.834in;
		margin-left: 0.079in;
		padding-top: 0.05in;
		font-size: 14px;
		line-height: 20px;
	}
	.barcode .style10 {
		width: 4in;
		height: 2in;
		margin: 0 0.1in;
		padding-top: 0.1in;
		font-size: 14px;
		line-height: 20px;
	}
	#barcode-con .item img{
		vertical-align: middle;
		display: block;
		margin: 0 auto;
	}